___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

1 + 1

In [1]:
1 * 3

3

In [2]:
3+3

6

In [2]:
3*4

12

In [14]:
2 ** 4

16

In [15]:
3 ** 2

9

In [10]:
1 / 2

0.5

In [11]:
4 % 2

0

In [12]:
5 % 2

1

In [13]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [16]:
# Can not start with number or special characters
name_of_var = 2

In [17]:
x = 2
y = 3

In [18]:
z = x + y

In [19]:
z

5

### Strings

In [18]:
'single quotes'

'single quotes'

In [19]:
"double quotes"

'double quotes'

In [20]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [21]:
x = 'hello'

In [22]:
x

'hello'

In [23]:
print(x)

hello

In [24]:
num = 12
name = 'Sam'

In [25]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [26]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [27]:
[1,2,3]

[1, 2, 3]

In [28]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [29]:
my_list = ['a','b','c']

In [30]:
my_list.append('d')

In [31]:
my_list

['a', 'b', 'c', 'd']

In [32]:
my_list[0]

'a'

In [33]:
my_list[1]

'b'

In [34]:
my_list[1:]

['b', 'c', 'd']

In [35]:
my_list[:1]

['a']

In [36]:
my_list[0] = 'NEW'

In [37]:
my_list

['NEW', 'b', 'c', 'd']

In [2]:
nest = [1,2,3,[4,5,['target']]]

In [3]:
nest[3]

[4, 5, ['target']]

In [4]:
nest[3][2]

['target']

In [5]:
nest[3][2][0]

'target'

### Dictionaries

In [6]:
d = {'key1':'item1','key2':'item2'}

In [7]:
d

{'key1': 'item1', 'key2': 'item2'}

In [8]:
d['key1']

'item1'

### Booleans

In [ ]:
True

In [ ]:
False

### Tuples (like lists but cannot have mutations, cant change the elements inside)

In [2]:
t = (1,2,3)

In [3]:
t

(1, 2, 3)

In [4]:
t[0]

1

In [5]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets (unique elements, none repeated)

In [6]:
{1,2,3}

{1, 2, 3}

In [7]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [8]:
1 > 2

False

In [9]:
1 < 2

True

In [10]:
1 >= 1

True

In [11]:
1 <= 4

True

In [12]:
1 == 1

True

In [13]:
'hi' == 'bye'

False

## Logic Operators

In [20]:
(1 > 2) and (2 < 3)

False

In [24]:
(1 > 2) or (2 < 3)

True

In [26]:
(1 > 2) | (2 < 3)

True

In [22]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [1]:
if 1 < 2:
    print('Yep!')

Yep!

In [23]:
if 1 > 2:
    print('yep!')

In [27]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [28]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [29]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [31]:
seq = [1,2,3,4,5]

In [32]:
for item in seq:
    print(item)

1
2
3
4
5

In [34]:
for i in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [35]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [36]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [37]:
range(5)

range(0, 5)

In [38]:
for i in range(5):
    print(i)

0
1
2
3
4

In [39]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [40]:
x = [1,2,3,4]

In [41]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [43]:
[i**2 for i in x]

[1, 4, 9, 16]

## functions

In [64]:
def my_func(param1='default'):
    """
    Docstring goes here, between tripe quotes. IT is to document things inside a function using multiple lines
    """
    print(param1)

In [46]:
my_func #with the cursor at the end, press shift + tab to rget a signature call to read the documentation adn all other details of the function

In [47]:
my_func() #will return the default parameter if the function is called without one

default

In [48]:
my_func('new param')

new param

In [53]:
def my_func(name='Default Name'):
    print('Hello ' + name)

In [54]:
my_func()

Hello Default Name

In [55]:
my_func('José')

Hello José

In [59]:
def my_func(name):
    print('Hello ' + name)

In [63]:
my_func #without "()", its like asking pytnon "what is this?", Python will tell you its a funcion that requires a 'name' input

In [62]:
my_func() #it will tell you the error because there is no longer a default parameter and none is being provided.

TypeError: my_func() missing 1 required positional argument: 'name'

In [61]:
my_func('José')

Hello José

In [56]:
def square(x):
    return x**2

In [57]:
out = square(2)

In [58]:
print(out)

4

## lambda expressions

In [65]:
def times2(var):
    return var*2

In [66]:
times2(2)

4

In [67]:
lambda var: var*2 #lambda is an anonymous function, so Python will tell you its a function.

## map and filter

In [68]:
seq = [1,2,3,4,5]

In [69]:
map(times2,seq) #will return WHERE in memory you can find the results of applying function "times2" to sequence "seq"

In [70]:
list(map(times2,seq)) #use list to see the result of the map function

[2, 4, 6, 8, 10]

In [71]:
list(map(lambda var: var*2,seq)) #same as above using lambda

[2, 4, 6, 8, 10]

In [72]:
filter(lambda item: item%2 == 0,seq) # filter is similar to map, gives back elements with TRUE statement to the condition given.

In [73]:
list(filter(lambda item: item%2 == 0,seq)) # you need the help of list

[2, 4]

## methods

In [74]:
st = 'hello my name is Sam'

In [75]:
st.lower()

'hello my name is sam'

In [76]:
st.upper()

'HELLO MY NAME IS SAM'

In [77]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [78]:
tweet = 'Go Sports! #Sports'

In [79]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [80]:
tweet.split('#')[1]

'Sports'

In [86]:
d = {'k1' : 1, 'k2' : 2} # d for dictionary

In [87]:
d.keys()

dict_keys(['k1', 'k2'])

In [88]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [91]:
d.values()

dict_values([1, 2])

In [95]:
lst = [1,2,3,4,5]

In [96]:
lst.pop() #pop last item, takes it out permanently

5

In [97]:
lst

[1, 2, 3, 4]

In [98]:
first = lst.pop(0) #you can give pop and index, here were are taking out the first element and saving it on a variable

In [99]:
first

1

In [100]:
lst

[2, 3, 4]

In [103]:
lst.append('new') #lets you append a new item to the end of the list

In [104]:
lst

[2, 3, 4, 'new']

In [101]:
'x' in [1,2,3] #check for an element in a list

False

In [102]:
'x' in ['x','y','z']

True

## Tuple Unpacking

In [106]:
x = [(1,2),(3,4),(5,6)]

In [108]:
for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [109]:
for (a,b) in x:
    print(a)

1
3
5

In [111]:
# "()"" are just a fomality, in the real world you will see tuple unpacking in the following manner:
for a,b in x:
    print(b)

2
4
6

# Great Job!